  <%
  var cats = [];
  item.categories.forEach(function(cat){
    cats.push('<li><a href="' + config.root + cat.path + '"><i class="fa fa-plus-square-o"></i>' + cat.name + '<span>' + cat.length  + '</span></a></li>');
  });
  %>
  <li>
    <%- cats.join(' ') %>
  </li>
