<div class="col-md-3" id="tags_meta"> 

	<!-- tags -->
	<% if(item.tags && item.tags.length ){ %>
	<div class="meta-widget">
	<a data-toggle="collapse" data-target="#tags"><i class="fa fa-tags"></i></a>		  
    <ul id="tags" class="tag_box list-unstyled collapse in">	  
	  <%- partial('tag') %>
    </ul>
	</div>
	<% } %>	
	
</div><!-- col-md-3 -->
