  <%
  var tags = [];
  item.tags.forEach(function(tag){
    tags.push('<li style="display:inline-block;"><a href="' + config.root + tag.path + '">' + tag.name + '<span>' + tag.length  + '</span></a></li>');
  });
  %>
  <%- tags.join(' ') %>