<div class="widget">
    <h4>Projects</h4>
    <ul class="list-unstyled">
        <li><i class="fa fa-code"></i>
            <a href="https://github.com/tingkaiwu/nba-shot-visualization" title="NBA Shot Visualization">NBA Shot Visualization</a>
        </li>
    </ul>
</div>