<div class="row">
    <h3 class="title index-post-title">
        <a href="https://github.com/tingkaiwu/around" title="Around (Golang Backend)" target="_blank">
            Around (Golang Backend)
        </a>
    </h3>
</div>
<hr class="index-post-hr" style=" height:2px;border:none;border-top:2px Dashed #0e5097;" />
<div class="entry">
    <div class="row">
        ...
        <br><br>
        <a type="button" href="https://github.com/tingkaiwu/around" class="btn btn-default more" target="_blank">
            <i class="fa fa-github"></i>
            Github
        </a>
        &nbsp;
        <a type="button" href="" class="btn btn-default more" target="_blank">
            <i class="fa fa-search"></i>
            Demo
        </a>
    </div>
</div>