<div class="row">
    <div class="col-md-8">
        <h3 class="title index-post-title">
            <a href="https://github.com/tingkaiwu/around-web" title="Around (React Frontend)" target="_blank">
                Around (React Frontend)
            </a>
        </h3>
    </div>
    <div class="date-meta">
        <div class="date"><i class="fa fa-code"></i>&nbsp;<span>React, ES6, Promise</span></div>
	</div>
</div>
<hr class="index-post-hr" style=" height:2px;border:none;border-top:2px Dashed #0e5097;" />
<div class="entry">
    <div class="row">
        ...
        <br><br>
        <a type="button" href="https://github.com/tingkaiwu/around-web" class="btn btn-default more" target="_blank">
            <i class="fa fa-github"></i>
            Github
        </a>
        &nbsp;
        <a type="button" href="" class="btn btn-default more" target="_blank">
            <i class="fa fa-search"></i>
            Demo
        </a>
    </div>
</div>