<!-- NBA -->
<div class="row">
    <h3 class="title index-post-title">
        <a href="http://tingkaiwu.com/project-nba/" title="NBA Shot Visualization">
            NBA Shot Visualization
        </a>
    </h3>
</div>
<hr class="index-post-hr" style=" height:2px;border:none;border-top:2px Dashed #0e5097;" />
<div class="entry">
    <div class="row">
        ...
        <br><br>
        <a type="button" href="" class="btn btn-default more">
            Read More
        </a>
    </div>
</div>