<p>
  &copy; 2018
  <a href="https://github.com/tingkaiwu" target="_blank"><%= config.author %></a> 
  with help from <a href="http://hexo.io/" target="_blank">Hexo</a>, 
  <a href="https://github.com/blackshow/hexo-theme-freemind.386">Freemind.386</a>
</p>